<div class="sidebar">
  <div class="logo-section sidebar-section">
    <div class="icon" style="width: 50px; height: 50px; background-color: #1A2732; border-radius: 8px;"></div>
  </div>

  <div class="company-section sidebar-section">
    <div class="company-profile">
      <div class="icon" style="width: 40px; height: 40px; border-radius: 50%;">
        <img src="/frontend-vanilla/assets/logo-difuminado.png" alt="User Profile Picture" style="width: 100%; height: 100%; border-radius: 50%;">
      </div>
      <div class="company-info">
        <span class="company-name">Mi Empresa</span>
        <span class="company-role">Administrador</span>
      </div>
    </div>
    <div class="company-settings">
      <div class="setting-item">
        <span class="material-icons icon">settings</span>
        <span>Configuraciones</span>
      </div>
      <div class="setting-item">
        <span class="material-icons icon">business</span>
        <span>Otro Negocio</span>
      </div>
    </div>
  </div>

  <div class="tabs-section sidebar-section">
    <div class="tab-item active">
      <span class="material-icons icon">point_of_sale</span>
      <span>Vender</span>
    </div>
    <div class="tab-item">
      <span class="material-icons icon">swap_horiz</span>
      <span>Movimientos</span>
    </div>
    <div class="tab-item">
      <span class="material-icons icon">trending_up</span>
      <span>Estadística</span>
    </div>
    <div class="tab-item">
      <span class="material-icons icon">inventory_2</span>
      <span>Inventario</span>
    </div>
    <div class="tab-item">
      <span class="material-icons icon">people</span>
      <span>Empleados</span>
    </div>
  </div>

  <div class="management-section sidebar-section">
    <div class="tab-item">
      <span class="material-icons icon">group</span>
      <span>Clientes</span>
    </div>
    <div class="tab-item">
      <span class="material-icons icon">local_shipping</span>
      <span>Proveedores</span>
    </div>
  </div>

  <div class="logout-section">
    <div class="logout-button">
      <span class="material-icons icon" style="color: var(--color-error);">power_settings_new</span>
      <span>Cerrar Sesión</span>
    </div>
  </div>
</div>