/* Estilos de la sección principal de ventas */
.main-content {
  height: 100vh;
  display: grid;
  background-color: white;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr 400px;
}

/* Cabecera izquierda */
.header-left {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #1A2732;
}

.search-bar {
  flex-grow: 1;
  margin-left: 20px;
  max-width: 500px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #666;
}

/* Cabecera derecha */
.header-right {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

.btn {
  padding: 8px 24px;
  width: 180px;
  border: none;
  border-radius: 12px;
  height: 36px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
}

.btn-primary {
  background-color: var(--color-verde);
}

.btn-secondary {
  background-color: var(--color-error);
}

/* Contenido izquierdo */
.content-left {
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 1px solid #eaeaea;
  overflow: hidden;
}

.categories {
  padding: 15px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.category {
  padding: 8px 15px;
  background-color: white;
  border-radius: 0.25rem;
  border: 2px solid var(--color-plomo-oscuro);
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s;
}

.category.active {
  background-color: var(--color-empresa);
  border-color: var(--color-empresa);
}

/* Contenido derecho (cesta) */
.content-right {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.cart-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-title {
  font-size: 18px;
  font-weight: bold;
  color: #1A2732;
}

.cart-view-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-texto-intermedio);
  font-family: var(--font-nunito, 'Helvetica', 'sans-serif', 'Arial');
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-decoration: underline;
}

/* Contenido de la cesta */
.cart-items {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
}

/* Estilos del footer y el botn de continuar */
.cart-footer {
  padding: 20px;
  border-top: 1px solid #eaeaea;
}

.continue-btn {
  width: 100%;
  padding: 15px;
  background-color: var(--color-texto);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.continue-btn-info {
  text-align: left;
}

.continue-btn-count {
  font-size: 14px;
  margin-bottom: 3px;
}

.continue-btn-total {
  font-size: 18px;
}